# Python bytecode files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Ignore model files (large files like .pkl)
*.pkl

# Ignore IDE/editor files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
